<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <title>Trending Hub</title>
    <link rel="stylesheet" href="../static/css/main.css">

  </head>

  <body>

    <div id="container">
      <div id="main">

    <div class="title">

      <header>
        <h1> Trending Hub </h1>
      </header>

    </div>

    <div class="button">
	<a href="trending"><div class="btn">Trending Films</div></a>
	<a href="#"><div class="btn">Trending TV</div></a>
	<a href="#"><div class="btn">Trending Music</div></a>
    </div>

  </div>
</div>

    <footer id="footer">
      <img class="instagram" src="../static/img/instagram.png" alt="instagram">
      <img class="facebook" src="../static/img/facebook.png" alt="facebook">
      <img class="twitter" src="../static/img/twitter.png" alt="twitter">
    </footer>

  </body>
</html>
